<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Регистрация</title>
</head>
<body>
    {% load account %} <!-- Загружаем тег который позволит получить нам ссылку на подтверждение -->
    <h1>Спасибо за регистрацию, {{ user.username }}!</h1>
    <h3>Перейдите по <a href="{{ activate_url }}">ссылке</a>, чтобы активировать ваш аккаунт</h3>
     <!-- Всставляем ссылку на активацию -->
</body>
</html>