{% extends 'flatpages/default.html' %}

{% load custom_filters %}

{% block title %}
Posts
{% endblock title %}

{% block content %}
    <h1>Все статьи и новости</h1>
    <p>Всего статей и новостей: {{ numPost }}</p>
    <hr>
    {% if posts %}
        {% for post in posts %}
            <h2><a href="{{ post.id }}">{{ post.title|censor:'***ЦЕНЗУРА***' }}</a></h2>
            <p>{{ post.dateCreation|date:'d M Y' }}</p>
            <p>{{ post.text|truncatewords:20|censor:'***ЦЕНЗУРА***' }}</p>
        {% endfor %}
    {% else %}
        <h2>Статей и новостей нет!</h2>
    {% endif %}
    {% if is_paginated %}
        {% if page_obj.has_previous %}
            <a href="?page=1">Первая страница</a>
            <a href="?page={{ page_obj.previous_page_number }}"><<</a>
        {% endif %}
        {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
                <a>{{ num }}</a>
            {% elif num > page_obj.number|add:'-2' and num < page_obj.number|add:'2' %}
                <a href="?page={{ num }}">{{ num }}</a>
            {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">>></a>
            <a href="?page={{ page_obj.paginator.num_pages }}">Последняя страница</a>
        {% endif %}
    {% endif %}
{% endblock content %}